<% if current_user %>
  <div class="row">
    <div class="col col-md-11 offset-1">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item active" aria-current="Dashboard page"> Dashboard </li>
        </ol>
      </nav>
    </div>
  </div>

  <div class="row">
    <div class="col-1"></div>
    <div class="col-6">
      <div class="row dashboard--chart-section">
        <%= column_chart [
          { name: "Income", data: data_by_year(@incomes).group_by_month(:date, format: "%b").sum(:amount) },
          { name: "Expense", data: data_by_year(@expenses).group_by_month(:date, format: "%b").sum(:amount) }],
          title: "Income/Expense Chart (#{Date.today.strftime("%Y")})"
        %>
      </div>
      <hr class="dashboard--chart-divider">
      <div class="row dashboard--chart-section">
        <%= line_chart [
          { name: "Income", data: data_by_month(@incomes).group_by_week(:date).sum(:amount) },
          { name: "Expense", data: data_by_month(@expenses).group_by_week(:date).sum(:amount) }],
          title: "Monthly Income/Expense Chart (#{Date.today.strftime("%b, %Y")})"
        %>
      </div>
    </div>
    <div class="col-1"></div>
    <div class="col-4">
      <div class="row dashboard--chart-section">
        <%= pie_chart data_by_year(@expenses).group(:category).sum(:amount),
          title: "Expenses by Category (#{Date.today.strftime("%Y")})"
        %>
      </div>
      <hr class="dashboard--chart-divider">
      <div class="row dashboard--chart-section">
        <%= pie_chart data_by_month(@expenses).group(:category).sum(:amount),
          title: "Expenses by Category for #{Date.today.strftime("%b, %Y")}"
        %>
      </div>
    </div>
  </div>
<% else %>
  <%= render 'homepage/landing_page' %>
<% end %>
