<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-sm-12 col-lg-7 text-center auth--container">
      <p class="auth--text"> Create Your Account </p>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <div class="row justify-content-md-center">
          <div class="col-sm-10 col-lg-5">
            <%= f.text_field :first_name, autofocus: true, placeholder: 'First name', class: "form-control" %>
            <span class="auth--error-message"> <%= resource.errors.full_messages_for(:first_name).first %> </span>
          </div>
          <div class="col-sm-10 col-lg-5">
            <%= f.text_field :last_name, autofocus: true, placeholder: 'Last name', class: "form-control" %>
            <span class="auth--error-message"> <%= resource.errors.full_messages_for(:last_name).first %> </span>
          </div>
        </div>

        <div class="row justify-content-md-center">
          <div class="col-sm-10">
            <%= f.email_field :email, autocomplete: "email", placeholder: 'Email', class: "form-control" %>
            <span class="auth--error-message"> <%= resource.errors.full_messages_for(:email).first %> </span>
          </div>
        </div>

        <div class="row justify-content-md-center">
          <div class="col-sm-10 col-lg-5">
            <%= f.password_field :password, autocomplete: "new-password", placeholder: 'Password', class: "form-control" %>
            <span class="auth--error-message"> <%= resource.errors.full_messages_for(:password).first %> </span>
          </div>
          <div class="col-sm-10 col-lg-5">
            <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: 'Confirm password', class: "form-control" %>
            <span class="auth--error-message"> <%= resource.errors.full_messages_for(:password_confirmation).first %> </span>
          </div>
        </div>

        <div class="row justify-content-md-center">
          <div class="col-sm-10">
            <%= f.submit "Sign Up", class: 'btn auth--button' %>
          </div>
        </div>
      <% end %>

      <div class="row justify-content-md-center">
        <div class="col-sm-10"> <hr class="auth--alternative"> </div>
      </div>

      <%= render "devise/shared/social_auth_links" %>

      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
