<%= form_with(model: expense, local: true) do |f| %>
  <div class="row justify-content-md-center">
    <div class="col-sm-12 col-lg-7 auth--container">
      <h4 class="auth--text text-center"> <%= form_title %> </h4>

      <div class="row justify-content-md-center">
        <div class="col-sm-10 col-lg-5 form-group">
          <%= f.label :category %>
          <%= f.select :category, Expense.expense_categories, options = {}, html_options = { class: 'form-control' } %>
          <span class="auth--error-message"> <%= expense.errors.full_messages_for(:category).first %> </span>
        </div>
        <div class="col-sm-10 col-lg-5">
          <%= f.label :amount %>
          <%= f.number_field :amount, placeholder: '5000', class: "form-control" %>
          <span class="auth--error-message"> <%= expense.errors.full_messages_for(:amount).first %> </span>
        </div>
      </div>

      <div class="row justify-content-md-center">
        <div class="col-sm-10">
          <%= f.label :date %>
          <%= f.text_field :date, placeholder: 'mm/dd/yyyy', class: "form-control datepicker" %>
          <span class="auth--error-message"> <%= expense.errors.full_messages_for(:date).first %> </span>
        </div>
      </div>

      <div class="row justify-content-md-center">
        <div class="col-sm-10 file-input">
          <%= f.file_field :file, accept: '.jpg, .jpeg, .gif, .png, .svg, .pdf' %>
          <span class='button'>Add receipt <em>(optional)</em></span>
          <% if expense.file.present? %>
            <span class='label' data-js-label> <%= cl_image_tag(expense.file, options = { class: 'incomes--image-span' }) %> </span>
          <% else %>
            <span class='label' data-js-label>No file selected</span>
          <% end %>
        </div>
      </div>
      
      <div class="row justify-content-md-center">
        <div class="col-sm-10">
          <%= f.submit "Save Changes", 'aria-label': 'Create Expense', class: 'btn auth--button' %>
        </div>
      </div>
    </div>
  </div>
<% end %>
