<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col col-md-9">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"> <%= link_to 'Home', root_path  %> </li>
        <li class="breadcrumb-item active" aria-current="expenses list page"> Expenses </li>
      </ol>
    </nav>
  </div>

  <div class="col col-md-3">
    <%= link_to 'New Expense', new_expense_path, class: 'incomes--new-income-link btn btn-success' %>
  </div>
</div>

<table class="table table-bordered">
  <thead class="thead-light">
    <tr>
      <th scope="col">Category</th>
      <th scope="col">Amount</th>
      <th scope="col">Date</th>
      <th scope="col">Receipt</th>
      <th colspan="2" class="incomes--actions-field"> Actions </th>
    </tr>
  </thead>

  <tbody>
    <% @expenses.each do |expense| %>
      <tr>
        <td><%= expense.category %></td>
        <td><%= in_currency(expense.amount) %></td>
        <td><%= expense.date.strftime("%e %B, %Y") %></td>
        <td class="incomes--actions-field">
          <% if expense.file.present? %>
            <button class="btn modal-pop--trigger">
              <%= image_icon('view', 'side-bar--menu-icon') %>
            </button>
            <%= modal(options: { modal_title: "Expense - #{expense.id} (Payslip)" }, html_options: { class: "modal-display" }) do %>
              <%= file_viewer(options: { url: expense.file } ) %>
            <% end %>
          <% end %>
        </td>
        <td class="incomes--actions-field">
          <%= link_to(edit_expense_path(expense)) do %>
            <%= image_icon('edit', 'side-bar--menu-icon') %>
          <% end %>
        </td>
        <td class="incomes--actions-field">
          <button class="btn modal-pop--trigger">
            <%= image_icon('delete', 'side-bar--menu-icon') %>
          </button>
          <%= modal(options: { modal_title: "Delete Expense - #{expense.id}" }, html_options: { class: "modal-display" }) do %>
            <%= "Are you sure you want to delete Expense (#{expense.category} - #{expense.id})?" %>
            <hr>
            <div class="float-right">
              <%= link_to 'Delete', expense, method: :delete, class: 'btn btn-danger modal-display--action-button' %>
            </div>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
