<nav class="side-bar--container">
  <div class="side-bar--user-details-summary text-center">
    <img src="https://robohash.org/superman" alt="user image" class="img-thumbnail">
    <div class="side-bar--user-profile-link-container">
      <%= link_to(current_user.email, root_path) %>
    </div>
  </div>
  <div class="side-bar--menu-list-container">
    <ul class="list-group">
      <%= link_to(root_path) do %>
        <li class="list-group-item <%= 'side-bar--active-tab' if active_tab?('dashboard', 'index') %>"> 
          <%= image_icon('dashboard', 'side-bar--menu-icon') %>
          <span> Dashboard </span>
        </li>
      <% end %>

      <%= link_to(budgets_path) do %>
        <li class="list-group-item <%= 'side-bar--active-tab' if active_tab?('budget', %w[index edit new]) %>">
          <%= image_icon('budget', 'side-bar--menu-icon') %> 
          <span> Budget </span>
        </li>
      <% end %>

      <%= link_to(incomes_path) do %>
        <li class="list-group-item <%= 'side-bar--active-tab' if active_tab?('incomes', %w[index edit new]) %>">
          <%= image_icon('income', 'side-bar--menu-icon') %> 
          <span> Income </span>
        </li>
      <% end %>

      <%= link_to(expenses_path) do %>
        <li class="list-group-item <%= 'side-bar--active-tab' if active_tab?('expenses', %w[index edit new]) %>">
          <%= image_icon('expenses', 'side-bar--menu-icon') %>
          <span> Expenses </span>
        </li>
      <% end %>

      <%= link_to(documents_path) do %>
        <li class="list-group-item <%= 'side-bar--active-tab' if active_tab?('documents', 'index') %>">
          <%= image_icon('document', 'side-bar--menu-icon') %>
          <span> Documents </span>
        </li>
      <% end %>

      <%= link_to(root_path) do %>
        <li class="list-group-item <%= 'side-bar--active-tab' if active_tab?('settings', 'edit') %>">
          <%= image_icon('settings', 'side-bar--menu-icon') %>
          <span> Settings </span>
        </li>
      <% end %>

      <%= link_to(destroy_user_session_path, method: :delete) do %>
        <li class="list-group-item">
          <%= image_icon('power', 'side-bar--menu-icon') %>
          <span> Logout </span>
        </li>
      <% end %>
    </ul>
  </div>
<nav>
