<!DOCTYPE html>
<html lang="en">
  <head>
    <title>XpensTraka</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render :partial => 'layouts/navbar' %>
    <div class="row container-fluid">
      <% if current_user %>
        <div class="col-3">
          <%= render :partial => 'layouts/side_bar_menu' %>
        </div>
      <% end %>
      <div class="<%= current_user ? 'col-9' : 'col-12' %>">
        <% flash.each do |type, msg| %>
          <div class="alert <%= "alert-#{type}" %> alert-dismissible fade show">
            <%= msg %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        <% end %>

        <%= yield %>
      </div>
    </div>
  </body>
</html>
